@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
}

h2{
    font-size: calc(2em + 18px);
    font-weight: 500;
    text-align: center;
    padding: 20px 0px;
    text-shadow: 1px 1px #ffffff, 2px 2px #808080;
    margin-top: 130px;
}



/* ------------------------------------------------------------- */
/* -------------------- BARRA DE NAVEGACIÓN -------------------- */
/* ------------------------------------------------------------- */

nav{
    height: 174px;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 40px;
    display: flex;
    align-items: center;
    transition: 1000ms;
}

.navMenu{
    list-style-type: none;
    display: flex;
    margin-left: auto;
}

.navItem{
    transition: 400ms;
}

.navItem:hover{
    transform: translate(1px, 2px)
}

.navButton{
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: #000000 2px 3px;
    padding: 10px;
    font-size: 1.5em;
    font-weight: 500;

    transition: 400ms;
}

.navButton:hover{
    text-shadow: none;
}

.scrolledNav{
    background-color: #FFFFFF;
}

.scrolledNav>ul>li>a{
    color: #000000;
    text-shadow:  #FFFFFF 1px 2px, #808080 2px 3px;;
}



/* ------------------------------------------------------------- */
/* --------------------------- HEADER -------------------------- */
/* ------------------------------------------------------------- */

header{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./assets/imagenes/img2.jpg');
    background-size: cover;
    background-attachment: fixed;
}

h1{
    height: 100%;
    width: 100%;
    color: #FFFFFF;
    font-size: calc(3em + 18px);
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 2px 2px #808080, 6px 6px #000000;
    background: rgba(47, 54, 69,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}



/* ------------------------------------------------------------- */
/* --------------- ESTILO SECCION ROMPECABEZAS ----------------- */
/* ------------------------------------------------------------- */

main{
    height: 100vh;
}

#puzzleContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#puzzleDropBoxContainer, #puzzleImgContainer{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.puzzleDropBox{
    color: #FFFFFF;
    background-color: #808080;
    border: 2px solid #000000;
    margin: 5px;
    width: 250px;
    height: 400px;
    background-size: 100% 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 400ms;
}

.puzzleDropBox:hover{
    background-color: #505050;
}

.puzzleImg{
    margin: 5px;
    width: 250px;
    height: 400px;
}

#puzzleRestartButton{
    color: #FFFFFF;
    background-color: #2F3645B3;
    border: 0px;
    width: 250px;
    height: 40px;
    margin: 20px 0px 100px 0px;
    box-shadow: #000000B3 3px 2px;

    transition: 200ms;
}

#puzzleRestartButton:hover{
    background-color: #2F3645;
    cursor: pointer;
}

#puzzleRestartButton:active{
    box-shadow: none;
    transform: translate(3px, 2px);
}