@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
}

h2{
    font-size: calc(2em + 18px);
    font-weight: 500;
    text-align: center;
    padding: 20px 0px;
    text-shadow: 1px 1px #ffffff, 2px 2px #808080;
}



/* ------------------------------------------------------------- */
/* -------------------- BARRA DE NAVEGACIÓN -------------------- */
/* ------------------------------------------------------------- */

nav{
    height: 174px;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 40px;
    display: flex;
    align-items: center;
    transition: 1000ms;
}

.navMenu{
    list-style-type: none;
    display: flex;
    margin-left: auto;
}

.navItem{
    transition: 400ms;
}

.navItem:hover{
    transform: translate(1px, 2px)
}

.navButton{
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: #000000 2px 3px;
    padding: 10px;
    font-size: 1.5em;
    font-weight: 500;

    transition: 400ms;
}

.navButton:hover{
    text-shadow: none;
}

.scrolledNav{
    background-color: #FFFFFF;
}

.scrolledNav>ul>li>a{
    color: #000000;
    text-shadow:  #FFFFFF 1px 2px, #808080 2px 3px;;
}



/* ------------------------------------------------------------- */
/* --------------------------- HEADER -------------------------- */
/* ------------------------------------------------------------- */

header{
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./assets/imagenes/historia-programacion.jpg');
    background-size: cover;
    background-attachment: fixed;
}

h1{
    height: 100%;
    width: 100%;
    color: #FFFFFF;
    font-size: calc(3em + 18px);
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 2px 2px #808080, 6px 6px #000000;
    background: rgba(47, 54, 69,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}



/* ------------------------------------------------------------- */
/* ------------------------ SECCION TEXTO ---------------------- */
/* ------------------------------------------------------------- */

.seccion{
    display: flex;
    flex-flow: row;
    width: 100%;
    padding: 100px;
}

.seccion>*{
    width: 50%;
}

.seccionTexto{
    padding: 40px;
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    justify-content: center;
}

.impar{
    flex-flow: row-reverse;
}



/* ------------------------------------------------------------- */
/* ------------------------ SECCION VIDEO ---------------------- */
/* ------------------------------------------------------------- */

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
}

.videoContainer{
    width: 70%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: #808080;
    padding: 5px;
}

video{
    width: 100%;
}

.videoControls{
    height: 70px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.videoButton{
    height: 30px;
    width: 80px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 10px 5px 0px;
    box-shadow: #000000 2px 3px;

    transition: 400ms;
}

.videoButton:hover{
    cursor:pointer;
}

.videoButton:active{
    box-shadow: none;
    transform: translate(2px, 3px);
}

#videoFooterStr{
    margin-left: auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}



/* ------------------------------------------------------------- */
/* ---------------------------- FOOTER ------------------------- */
/* ------------------------------------------------------------- */

footer{
    display: flex;
    flex-flow: row wrap;
    background-color: #2F3645;
    padding: 90px;
}

footer > img {
    height: 80px;
}

footer > p{
    color: #EEEEEE;
}

#footerText1{
    font-weight: bold;
    text-align: center;
}

#footerText2{
    margin-left: auto;
}